<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Home</title>
		<link rel="stylesheet" href="http://localhost:3000/bootstrap.min.css" />
		<link rel="stylesheet" href="http://localhost:3000/signin.css" />
	</head>

	<body>

		{{{body}}}
		<script type="text/javascript" src="http://localhost:3000/app.js"></script>
	</body>
</html>