form {
	display: block;
	padding: 20px 15px;
	border-radius: 3px;
	border: 1px solid black;
	max-width: 400px;
	margin: 0 auto;
}

label, input, button {
	display: block;
	text-align: left;
	margin-bottom: 8px;
}

button {
	background: #ff0000;
	border-radius: 4px;
	border: none;
	color: black;
	cursor: pointer;
}

button:hover {
	background: #fff000;
}